{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Blog Details Hero Begin -->
<section class="blog-details-hero set-bg" data-setbg="{% static 'img/blog/details/details-hero.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog__details__hero__text">
                    {%for bloger in blogs %}
                    <h2>{{bloger.blog_name}}</h2>
                    <ul>
                        <li> {% for ad in admininfo %} 
                            By {{ad.first_name}} {{ad.last_name}}
                        {% endfor %}</li>
                        <li>{{bloger.date}}</li>
                        <li>8 Comments</li>
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Hero End -->

<!-- Blog Details Section Begin -->
<section class="blog-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 order-md-1 order-2">
                <div class="blog__sidebar">
                    <!-- <div class="blog__sidebar__search">
                        <form action="#">
                            <input type="text" placeholder="Search...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Categories</h4>
                        <ul>
                           {% for category in blogcategory %} 
                           <li><a href="#">{{category}}</a></li>
                            {% endfor %} 
                        </ul>
                    </div> -->
                    <div class="blog__sidebar__item">
                        <h4>Recent News</h4>
                          {% for recent in recent_news %}
                        <div class="blog__sidebar__recent">
                            <a href="{% url 'blogdetails' blog_id=recent.id %}" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                </div>
                                <img style="width: 10%; height:20%" src="{{recent.blog_img.url}}" alt=""/>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6>{{recent.blog_name}}</h6>
                                    <span>{{recent.date}}</span>
                                </div>
                            </a>
                            
                        </div>
                        {% endfor %}
                    </div>
                    <!-- <div class="blog__sidebar__item">
                        <h4>Search By</h4>
                        <div class="blog__sidebar__item__tags">
                            <a href="#">Apple</a>
                            <a href="#">Beauty</a>
                            <a href="#">Vegetables</a>
                            <a href="#">Fruit</a>
                            <a href="#">Healthy Food</a>
                            <a href="#">Lifestyle</a>
                        </div>
                    </div> -->
                </div>
            </div>
            {{blogss}}
            
            <div class="col-lg-8 col-md-7 order-md-1 order-1">
                {% for blog in blogs %}
                <div class="blog__details__text">
                    <img src="{{ blog.blog_img.url }}" alt="">
                    <p>{{blog.description}}</p>
                </div>
                {% endfor %}
                 <div class="blog__details__content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="blog__details__author">
                                <div class="blog__details__author__pic">
                                    {{userprofiles}}
                                    {%for usrinfo in userprofile %}
                                      <img src="{{ usrinfo.user_img.url }}" alt="">
                                </div>
                                    {% endfor %}
                                <div class="blog__details__author__text">
                                    {% for ad in admininfo %} <h6>
                                        {{ad.first_name}} {{ad.last_name}}</h6>
                                    {% endfor %}
                                        <span>Author</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="blog__details__widget">
                                <ul>
                                    <li><span>Categories:</span> Blogs</li>
                                    <li><span>Tags:</span> All, Trending, Cooking, Healthy Food, Life Style</li>
                                </ul>
                                <div class="blog__details__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-envelope"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Section End -->
 
{% endblock content %}