{% extends 'base.html' %}
{% block content %}
<section class="checkout spad">
    <div class="container">
        <div class="shoping__continue">
            <div class="shoping__discount">
                <h5>Discount Codes</h5>
                <form method="post" action="#">
                    {% csrf_token %}
                    <input type="text" name="coupon" placeholder="Enter your coupon code">
                    <button type="submit" class="site-btn">APPLYS COUPON</button>
            </div>
        </div><br>
        <div class="checkout__form">
            <h4>Billing Details</h4>
            <div class="row">
                <div class="col-lg-8 col-md-6">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="checkout__input">
                                <p>First Name<span>*</span></p>
                                <input type="text" name="first_name" value="{{request.user.first_name}}">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="checkout__input">
                                <p>Last Name<span>*</span></p>
                                <input type="text" name="last_name" value="{{request.user.last_name}}">
                            </div>
                        </div>
                    </div>
                    <div class="checkout__input">
                        <p>Address<span>*</span></p>
                        <input type="text" placeholder="Street Address" name="address"
                            value="{{request.user.UserProfile.address}}" class="checkout__input__add">
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="checkout__input">
                                <p>Phone<span>*</span></p>
                                <input type="text" name="mobile" readonly value="{{request.user.UserProfile.mobile}}">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="checkout__input">
                                <p>Email<span>*</span></p>
                                <input type="text" name="email" value="{{request.user.email}}" readonly>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="checkout__order">
                        <h4>Your Order</h4>
                        <div class="checkout__order__products">Products <span>Total</span></div>
                        <ul>
                            {% for cart in carts %}
                            <li>{{cart.product_name}}<span>₹
                                    {{cart.product_total}}</span></li>
                            {% endfor %}
                        </ul>
                        <div class="checkout__order__subtotal">Subtotal <span>₹
                                {{subtotal}}</span></div>
                        <div class="checkout__order__total">ShippingCost <span>₹
                                {{shippingCost}}</span></div>
                        <div class="checkout__order__total">Coupon Discount <span>₹
                                {{couponcode}}</span></div>
                        <div class="checkout__order__total">Total <span>₹
                                {{total}}</span></div>

                        <button type="submit" class="site-btn">PLACE ORDER</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</section>
{% endblock content %}