{% extends 'base.html' %}
{% load static %}
{% block content %}

<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="{% static 'css/user-profile.css' %}" rel="stylesheet" type="text/css">
<body>
  {% if request.user.is_authenticated   %}

  <div class="main-content">
    <!-- Top navbar -->
    <!--  -->
    <!-- Header -->
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-7 col-md-10">
          <h1 class="display-2 text-white">Hello {{request.user}}!</h1>
          <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work
            and manage your projects or assigned tasks</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->

  <form enctype="multipart/form-data" method="POST" action="{% url 'UserProfile' %}">
    {% csrf_token %}
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                   <a href="#">
                      
                  <img src="{{ user.UserProfile.user_img.url  }}"
                      alt="" /> </a>
                    </div>
                    <br><br><br><br><br><br>Select Imagess: <input type="file" name="user_img" >
               </div>

            </div>

            <div class="card-body pt-0 pt-md-4">
        
            
              <div class="text-center">
                <h3>
                  {{user.first_name}} {{user.last_name}}<span class="font-weight-light"> </span>
                 </h3>
                <div class="h5 font-weight-300">
                  <i class="ni location_pin mr-2"></i>{{user.UserProfile.address}}
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">My account</h3>
                </div>
                <div class="col-4 text-right">
                  <button type="submit" class="btn btn-sm btn-primary">Update</button>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="heading-small text-muted mb-4">User information</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <input type="hidden" name="user_id" value="{{request.user.id}}">
                      <label class="form-control-label" for="input-username">Username</label>
                      <input type="text" id="input-username" class="form-control form-control-alternative" readonly
                        placeholder="Username"  value="{{user}}">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">Email address</label>
                      <input type="email" id="input-email" class="form-control form-control-alternative" readonly
                        placeholder="jesse@example.com" value="{{user.email}}">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-first-name">First name</label>
                      <input type="text" id="input-first-name" class="form-control form-control-alternative"
                        placeholder="First name" name="first_name" value="{{user.first_name}}">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-last-name">Last name</label>
                      <input type="text" id="input-last-name" class="form-control form-control-alternative"
                        placeholder="Last name" name="last_name" value="{{user.last_name}}">
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4">
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Contact information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-address">Address</label>
                        <input id="input-address" class="form-control form-control-alternative" name="address" placeholder="Home Address" value="{{user.UserProfile.address}}" type="text">
                      </div>
                    </div>
                  </div>
 
                </div>
              
              <hr class="my-4">
              <!-- Description -->
              <h6 class="heading-small text-muted mb-4">About me</h6>
              <div class="pl-lg-4">
                <div class="form-group focused">
                  <label>About Me</label>
                  <textarea rows="4" name="about" class="form-control form-control-alternative"
                    placeholder="A few words about you ...">{{user.UserProfile.about}}</textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </form>

  </div>
  </div>
  {% else %}
  <h3> <center>Please <a href="{% url 'login' %}">Login</a> to add this product in cart </center> </h3><br><br><br><br>
  {% endif %}
</body>


{% endblock content %}